*.class

# Package Files #
*.jar
*.war
*.ear

# intelliJ Files
.idea/*
out/production/Intellivault/com/razorfish/platforms/intellivault/config.xml
out/production/Intellivault/com/razorfish/platforms/intellivault/settings.xml
out/production/Intellivault/META-INF/plugin.xml
